<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
  <head>
  <div th:replace="~{layout :: common-head}"></div>
    <th:block th:with="title='Register'">
    <title th:text="${title}">JCCB: Register</title> 
  </th:block>
  </head>
  <body class="d-flex flex-column h-100">
  <header th:replace="~{layout :: header}"></header>
    <main class="flex-fill">
      <div class="container-fluid">
        <div class="row mt-5">
          <div class="col-12 pt-3">
            <h1 class="d-flex justify-content-start my-5">Create Your Account</h1>
            <!-- Display error message if username exists -->
              <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                <p th:text="${errorMessage}"></p>
            </div>
            <form class="row g-3" action="" th:action="@{/register}" method="POST">
              <div class="col-12 mb-3">
                <label for="username" class="form-label" aria label="username"
                  >Username</label
                >
                <input
                  type="text"
                  class="form-control"
                  th:field="${user.username}"
                />
              </div>

              <div class="col-12 mb-3">
                <label for="password" class="form-label" aria label="password"
                  >Password</label
                >
                <input
                  type="text"
                  class="form-control"
                  th:field="${user.password}"
                />
              </div>

              <div class="col-12 mb-3">
                <label for="fullname" class="form-label" aria label="full name"
                  >Full Name</label
                ><input
                  type="text"
                  class="form-control"
                  th:field="${user.name}"
                />
              </div>
              

              <div class="col justify-content-start mb-3">
                <input
                  type="submit"
                  class="btn btn-primary"
                  value="Create Account"
                />
                <a class="btn btn-danger ms-1" th:href="@{/}">Back</a>
              </div>

            </form>
          </div>
        </div>
      </div>
    </main>
    <footer th:replace="~{layout :: footer}"></footer>

  </body>
</html>
