<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <div th:replace="~{layout :: common-head}"></div>

      <th:block th:with="title='User Details'">
      <title th:text="${title}">JCCB: User Details</title> 
    </th:block>
  </div>
    </head>
  <body class="d-flex flex-column h-100">
    <header th:replace="layout :: header"></header>

    <main class="flex-fill">
      <div class="container-fluid">
        <div class="row mt-5">
          <div class="col-md-12 pt-3">
            <div class="d-flex justify-content-between align-items-center pt-5">
              <h1 class="text-center">User Details</h1>
              <button
                onclick="function printPage() { window.print(); }; printPage();"
                class="btn print-btn"
              >
                Print Page
              </button>
            </div>
          </div>
          <!--User details display card-->
          <div class="col-md-12">
            <div
              class="card border border-2 border-success-subtle shadow-lg mt-2"
            >
                <div class="card-header">
                  <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        th:href="@{/update_user/{id}(id=${user.userId})}"
                        ><i class="bi bi-pencil"></i>Add Address/Update User</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" th:href="@{/register}"
                        ><i class="bi bi-file-earmark-plus"></i>Add Another
                        User</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" th:href="@{/users/{userId}/confirmUserDelete(userId=${user.userId})}"
                        ><i class="bi bi-trash3"></i>Delete User</a
                      >
                    </li> 
                  <li class="nav-item">
                    <a class="nav-link" aria-disabled="true" th:href="@{/user_details/{userId}/accounts(userId=${user.userId})}"
                    ><i class="bi bi-piggy-bank"></i> Create New Bank Account</a
                    >
                  </li>
                  </ul>
                </div>
                <div class="card-body row">
                  <h2
                    class="card-title col-12 d-flex justify-content-center mt-2"
                  >
                    User #<span th:text="${user.userId}"></span>
                  </h2>
                  <!--User details username-->
                  <div class="row justify-content-center">
                    <div
                      class="col-md-4 d-flex justify-content-end category-text"
                    >
                      User Name:
                    </div>
                    <div
                      class="col-md-4 d-flex justify-content-start card-text"
                      th:text="${user.username}"
                    ></div>
                  </div>
                    <!--User details password-->
                  <div class="row justify-content-center">
                    <div
                      class="col-md-4 d-flex justify-content-end category-text"
                    >
                      Password:
                    </div>
                    <div
                      class="col-md-4 d-flex justify-content-start card-text"
                      th:text="${user.password}"
                    ></div>
                  </div>
                  <!--User details user full name-->
                  <div class="row justify-content-center">
                    <div
                      class="col-md-4 d-flex justify-content-end category-text"
                    >
                      Full Name:
                    </div>
                    <div
                      class="col-md-4 d-flex justify-content-start card-text"
                      th:text="${user.name}"
                    ></div>
                  </div>
                  
                  <div th:if="${user.address != null}">
                  <!--User details address line 1-->
                    <div class="row justify-content-center">
                      <div
                        class="col-md-4 d-flex justify-content-end category-text"
                      >
                        Address Line 1:
                      </div>
                      <div
                        class="col-md-4 d-flex justify-content-start card-text"
                        th:text="${user.address.addressLine1}"
                      ></div>
                    </div> 
                    <div th:if="${user.address.addressLine2 != null}">
                    <!--User details address line 2-->
                      <div class="row justify-content-center">
                        <div
                          class="col-md-4 d-flex justify-content-end category-text"
                        >
                          Address Line 2:
                        </div>
                        <div
                          class="col-md-4 d-flex justify-content-start card-text"
                          th:text="${user.address.addressLine2}"
                        ></div>
                      </div>
                    </div>
                    <!--User details address city-->
                    <div class="row justify-content-center">
                      <div
                        class="col-6 d-flex justify-content-end category-text"
                      >
                        City:
                      </div>
                      <div
                        class="col-6 d-flex justify-content-start card-text"
                        th:text="${user.address.city}"
                      ></div>
                    </div>
                  <!--User details address region-->
                    <div class="row justify-content-center">
                      <div
                        class="col-md-4 d-flex justify-content-end category-text"
                      >
                        State:
                      </div>
                      <div
                        class="col-md-4 col-xxl-6 d-flex justify-content-start card-text"
                        th:text="${user.address.region}"
                      ></div>
                    </div>
                    <!--User details address zip-->
                    <div class="row justify-content-center">
                      <div
                        class="col-md-4 d-flex justify-content-end category-text"
                      >
                        Zip Code:
                      </div>
                      <div
                        class="col-md-4 d-flex justify-content-start card-text"
                        th:text="${user.address.zipCode}"
                      ></div>
                    </div>
                    <!--User details address country-->
                    <div class="row justify-content-center">
                      <div
                        class="col-md-4 d-flex justify-content-end category-text"
                      >
                        Country:
                      </div>
                      <div
                        class="col-md-4 d-flex justify-content-start card-text"
                        th:text="${user.address.country}"
                      ></div>
                    </div>
                    <!--User details accounts-->
                    <div th:if="${user.accounts != null}">
                      <!-- Loop for each account in the accounts array -->
                      <div th:each="account : ${user.accounts}">
                          <div class="row justify-content-center mt-1">
                            <div
                            class="col-md-4 d-flex justify-content-end category-text"
                          >
                          <a class="btn btn-primary" title="Edit/Delete Account" th:href="@{/users/{userId}/accounts/{accountId}/edit(userId=${user.userId}, accountId=${account.accountId})}">Account #<span th:text="${account.accountId}"></span>:</a>

                          </div>
                          <div
                          class="col-md-4 d-flex justify-content-start card-text"
                          th:text="${account.accountName}">
                        </div>
                      </div>
                    </div>
                  </div>
                    <div th:replace="~{layout:: btn_group}"></div>
                  </div>
                  <div th:if="${user.address == null}">
                    <div class="row d-flex justify-content-center">
                      <div class="col-12 d-flex justify-content-center mt-2"><strong>Oops, Our records do not contain your address.</strong></div>
                        <div class="col-12 d-flex justify-content-center">If you would like to add your address click the button below.</div>
                        <div th:replace="~{layout:: btn_group}"></div>
                  </div>
                  <!--Feature to be implemented later 
                    <div th:if="${user.accounts == null}">
                    <div class="row d-flex justify-content-center">
                      <div class="col-12 d-flex justify-content-center mt-2"><strong>Oops, Our records do not show a bank account.</strong></div>
                        <div class="col-12 d-flex justify-content-center">If you would like to add a bank account click the button below.</div>
                  </div> -->

                  <div th:replace="~{layout:: btn_group}"></div>
                </div>
              </div>
                </div>
           </div>
            <div th:if="${displayUpdateForm}" class=" mt-3 mb-3" >
              <form th:action="@{/user_details/{userId}/update(userId=${user.userId})}" th:object="${user}" method="post">
                <div class="row justify-content-center category-text mt-3 ms-3 me-3 mb-3">Edit  User Information</div>
                <div class="row mx-1">
                  <div class="col-md-6 mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" id="username" th:field="*{username}" class="form-control" />
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="text" id="password" th:field="*{password}" class="form-control"/>
                  </div>
                </div>
              
                <div class="mx-3 mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" id="name" th:field="*{name}" class="form-control"/>
                </div>
              
                <div class="row mx-1">
                  <div class="col-md-6 mb-3">
                    <label for="addressLine1" class="form-label">Address Line 1</label>
                    <input type="text" id="addressLine1" th:field="*{address.addressLine1}" class="form-control"/>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="addressLine2" class="form-label">Address Line 2 (Optional)</label>
                    <input type="text" id="addressLine2" th:field="*{address.addressLine2}" class="form-control"/>
                  </div>
                </div>
              
                <div class="row mx-1">
                  <div class="col-md-6 mb-3">
                    <label for="city" class="form-label">City</label>
                    <input type="text" id="city" th:field="*{address.city}" class="form-control"/>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="region" class="form-label">State</label>
                    <input type="text" id="region" th:field="*{address.region}" class="form-control"/>
                  </div>
                </div>
                <div class="row mx-1">
                      <div class=" col-md-6 mb-3">
                        <label for="zipCode" class="form-label">Zip Code</label>
                        <input type="text" id="zipCode" th:field="*{address.zipCode}" class="form-control"/>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" id="country" th:field="*{address.country}" class="form-control"/>
                      </div>
                </div>    
               
                  <button type="submit" class="btn btn-primary ms-3 mb-3">Update</button>
                  <!-- Cancel Button -->
                  <a class="btn btn-danger mb-3" th:href="@{/user_details/{userId}(userId=${userId})}">Cancel</a>
                  
              </form>
            </div>
              <div th:if="${displayCreateAccountForm}" class=" mt-3 mb-3" >
                <form th:action="@{/user_details/{userId}/accounts(userId=${user.userId})}" th:object="${account}" method="post">
                  <div class="row justify-content-center category-text mt-3 mb-3">Create New Bank Account</div>
                  <div class="row mx-1">
                    <div class="col-12 mb-3">
                      <label for="accountName" class="form-label">Account Name</label>
                      <input type="text" id="accountName" th:field="*{accountName}" class="form-control" />
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary ms-3 mb-3">Submit New Bank Account</button>
                  <a class="btn btn-danger mb-3" th:href="@{/user_details/{userId}(userId=${userId})}">Cancel</a>
                </form>
              </div>
        </div>
      </div>
    </div>
    </main>
    <!--footer section-->
    <footer th:replace="layout :: footer"></footer>
    <!--end of footer section-->
  </body>
</html>
