<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
  <head th:replace="layout :: common-head">
    <title>Users</title>
  </head>
  <body class="d-flex flex-column h-100">
    <header th:replace="layout :: header"></header>
    <main class="flex-fill">
      <div class="container-fluid custom-container">
        <div class="row mt-5">
          <div class="col-md-12">
            <div class="d-flex justify-content-between align-items-center pt-5">
              <h1 class="text-center">Users</h1>
              <button
                onclick="function printPage() { window.print(); }; printPage();"
                class="btn print-btn me-3"
              >
                Print Page
              </button>
            </div>
          </div>
          <div th:if="${not #lists.isEmpty(users)}">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-striped table-hover table-success my-3">
                <thead>
                  <tr>
                    <th class="custom-table" scope="col">ID</th>
                    <th class="custom-table" scope="col">User Name</th>
                    <th class="custom-table" scope="col">Password</th>
                    <th class="custom-table" scope="col">Full Name</th>
                    </tr>
                </thead>
                <tbody>
                  <tr th:each="user : ${users}">
                    <td>
                      <a class="btn btn-primary w-100" th:href="@{/user_details/{id}(id=${user.userId})}" th:text="${user.userId}"></a>

                    </td>

                    <td>
                      <span
                        th:text="${user.username}"
                        
                      ></span>
                    </td>

                    <td><span th:text="${user.password}"></span></td>
                    <td><span th:text="${user.name}"></span></td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- Display this div only if users list is empty -->
          <div th:if="${#lists.isEmpty(users)}" class="col-md-12 text-center">
            No users to display
          </div>
          
          <p class="text-center">
            <strong>Warning:</strong> Sample Data for Demo
            Purposes Only.
          </p>
        </div>
      </div>
    </main>
    <footer th:replace="layout :: footer"></footer>
  </body>
</html>
